# Exclude virtual environments
.venv/
venv/

# Exclude Python cache
__pycache__/
*.pyc

# Exclude environment variables
.env

# Exclude data directories
/storage


# Exclude Docker-related files
Dockerfile
docker-compose.yml

# Exclude version control
.git
.gitignore

# Exclude system files
.DS_Store
